* {
    box-sizing: border-box;
    border: none;
    scrollbar-width: none; 
    -ms-overflow-style: none;
  }
  
  :root {
    --vh: calc(var(--vh, 1vh) * 1);
    --vw: calc(var(--vw, 1vw) * 1);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  /* .opacityZero {
    opacity: 0;
  }

  .opacityOne {
    opacity: 1;
  } */
  
  body {
    position: relative;
    background-color: black;
    width: 100vw;
    max-width: 100vw;
    overflow-x: clip;
    padding: 0;
    margin: 0;
    font-family: 'News Cycle', 'Source Sans Pro', 'Arial';
    -webkit-tap-highlight-color: transparent;

  }
  
 #container {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: top;
    overflow-x: clip;
    padding: 0;
    z-index: 1;
    background-color: black;
    animation: incrOpacityContainerAnim 0.3s ease-in 1 forwards;
  }
  
  @keyframes incrOpacityContainerAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  #navDiv {
    width: 100vw;
    max-width: 100vw;
    height: calc(var(--vw, 1vw) * 18);
    position: fixed;
    padding: 0;
    z-index: 120;
    background-color: rgb(27,35,47);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    height: calc(var(--vw, 1vw) * 16);
    width: calc(var(--vw, 1vw) * 16);
    margin-left: 2vw;
  }

  
  #HimaraSeas {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    text-align: left;
    font-size: 5vw;
    margin-left: 2vw;
    margin-right: auto;
    height: calc(var(--vw, 1vw) * 16);
    width: 56vw;
    line-height: 0.7;
    font-family: 'Lora', serif;
  }
  
  #spanHimaraSeas {
    letter-spacing: 0.2vw;
  }

  #spanSPEEDBAOT {
    letter-spacing: 0.6vw;
  }
  

  #containerHamburger {
    width: 35px;
    height: calc(var(--vw, 1vw) * 10);
    display: inline-block;
    margin-right: 3vw;
    margin-bottom: 1vw;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px; /* new height */
    background-color: rgb(255, 255, 255);
    margin: 7.14px 0; /* proportional to 35px width */
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 12.5px) rotate(-45deg); /* proportional to 35px width */
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -12.5px) rotate(45deg); /* proportional to 35px width */
  }

  #backDiv {
    position: relative;
    width: 100vw; 
    max-width: 100vw;
    height: calc(var(--vw, 1vw) * 18);
    max-height: calc(var(--vw, 1vw) * 18);
    background-color: rgb(6, 87, 154);
  }

/* PHOTO CAROUSEL */

  .photoCarousel1 {
    position: relative;
    display: flex;
    width: 100vw; 
    max-width: 100vw;
    height: calc(var(--vw, 1vw) * 150);
    max-height: calc(var(--vw, 1vw) * 150);
    align-items: start;
    padding: 0;
    white-space: nowrap;
    overflow: clip;
    background-color:  rgb(6, 87, 154);
    z-index: 5;
  }

  .photo1 {
    width: 100%;  
    opacity: 0; 
    position: relative; 
    bottom: 0;
    left: 0;
    transition: opacity 1s ease-in-out; 
  }

  .photo1.active1 {
    opacity: 1; 
  }

  #arrowLeft {
    position: absolute;
    width: 12vw;
    left: 0;
    top: 45%;
  }

  #arrowRight {
    position: absolute;
    width: 12vw;
    right: 0;
    top: 45%;
  }



/* TRIPS */

#trips {
  position: relative;
  width: calc(var(--vw, 1vw) * 100); 
  max-width: calc(var(--vw, 1vw) * 100);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: top;
  grid-gap: calc(var(--vw, 1vw) * 10);
  overflow-x: clip;
  padding: calc(var(--vw, 1vw) * 4);
  font-size: 8vw;
  color: white;
  text-align: center;
  background-color: rgb(47,64,89);
  font-family: 'Lora', serif;
}

.tripDiv {
  position: relative;
  width: calc(var(--vw, 1vw) * 80); 
  max-width: calc(var(--vw, 1vw) * 80);
  height: calc(var(--vw, 1vw) * 170); 
  max-height: calc(var(--vw, 1vw) * 170);
  display: grid;
  grid-template-rows: 20%, 40%, 40%;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: top;
  background-color: rgb(27,35,47);
  font-size: calc(var(--vw, 1vw) * 5);
  color: white;
  text-align: center;
}

.tripTitleSmall {
 width: calc(var(--vw, 1vw) * 80); 
 height: calc(var(--vw, 1vw) * 30); 
}

.photoCarouselSmall {
  background-color: rgb(3, 88, 131);
  width: calc(var(--vw, 1vw) * 80); 
  height: calc(var(--vw, 1vw) * 60); 
}

.tripDescriptionSmall {
 width: calc(var(--vw, 1vw) * 80); 
 height: calc(var(--vw, 1vw) * 60); 
}

.learnMore {
  width: calc(var(--vw, 1vw) * 40); 
  height: calc(var(--vw, 1vw) * 10); 
  border: 2px solid white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  border-radius: 4px;
}

/* MENU */

#menuDiv {
  display: grid;
  position: fixed;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  width: 50vw;
  height: calc(var(--vw, 1vw) * 80);
  top:  calc(var(--vw, 1vw) * 18);
  right: 0;
  justify-content: right;
  align-content: center;
  justify-items: right;
  align-items: center;
  z-index: 101;
  transition: opacity 0.4s;
  /* background-image: linear-gradient(to bottom,whitesmoke, gray); */
  /* background-color: cadetblue; */
  transform: rotateX(-90deg);
  transform-origin: center top;
}

.menuItems {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50vw;
  height: calc(var(--vw, 1vw) * 18);
  letter-spacing: 0.7vw;
  font-size: calc(var(--vw, 1vw) * 7);
  color: rgb(255, 255, 255);
  padding-right: 4vw;
  font-family: 'News Cycle', 'Source Sans Pro', 'Arial';
  margin-left: auto;
  margin-top: calc(var(--vw, 1vw) * 2);
  background-image: linear-gradient(to right, rgb(27,35,47, 0.2),  rgb(27,35,47, 1));
}

a {
  text-decoration: none;
}

h1 {
  font-size: calc(var(--vw, 1vw) * 9);
  letter-spacing: 0.7vw;
  margin-bottom: calc(var(--vw, 1vw) * 0);
}

/* #HOME {
  width: 50vw;
}

#HIMARA {
  width: 50vw;
}

#REVIEWS {
  width: 50vw;
}

#CONTACT {
  width: 50vw;
} */


.openMenu {
  animation: openMenuAnim 1s ease-out 1 forwards;
}

@keyframes openMenuAnim {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.closeMenu {
  animation: closeMenuAnim 0.3s ease-in 1 forwards;
}

@keyframes closeMenuAnim {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}



